@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

.flex {
  display: flex;
}

$light: #ffffff;
$gray: #e7e9eb;

.navbar {
  background-color: black;
  padding: 1rem 2rem;
  border-bottom: 1px solid $gray;
  color: white;
}
.sidebar {
  width: 15rem;
  height: auto; /* calc(100vh - 52px); */
  border-right: 1.5px solid$gray;

  ul {
    list-style: none;
    padding: 2rem 0.5rem;
    bottom: 0;
    li {
      list-style-type: none;
      position: relative;
      width: 80%;
      a {
        text-decoration: none;
        &.active {
          background-color: $gray;
        }
      }
    }
  }
}
.price {
  text-align: center;
  background-color: hsl(217, 100%, 82%);
  border-radius: 5px;
  width: 50%;
  padding: 0.2em 0;
  font-weight: bold;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.brand {
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
.customButton {
  width: 1.5em;
  height: 1.5em;
  background-color: hsl(217, 100%, 82%);
  padding: 0.5em 1.2em;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.carousel {
  min-width: 70%;
  max-width: 80%;
  display: block;
  margin: auto;
  height: auto;
}
